$color-light: #5686c1;
$color-dark: #125daa;
$color-action: #d35c15;
$color-action-two: #0d2758;
$color-neutral: #ffffff;
$color-bg-one: #1159a2;
$color-bg-two: #506479;
$color-bg-three: #ebf3fc;
$color-font-one: #3c3c3c;
$color-font-two: #cce7ff;

$font-xl: 44px;
$font-l: 36px;
$font-m: 24px;
$font-s: 20px;
$font-xs: 12px;
$font-btn: 30px;

$font-style-main: 'Nunito Sans', sans-serif;
